<% layout('/layouts/boilerplate') -%>
    <div class="row">
        <div class="col-8 offset-2">
            <h3 class="mt-3 mb-3">Create a new blog</h3><br>
            <form method="post" action="/blogs" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="blog[title]" class="form-control" required>
                    <div class="invalid-feedback">Enter a valid title</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Content</label>
                    <textarea name="blog[content]" id="" cols="30" rows="10" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please enter a Content</div>
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select class="form-select" aria-label="Default select example" name="blog[category]">
                        <option selected name="blog[category]">Health</option>
                        <option value="Food" name="blog[category]">Food</option>
                        <option value="Exercise" name="blog[category]">Exercise</option>
                        <option value="Travel" name="blog[category]">Travel</option>
                        <option value="Mind Therapy" name="blog[category]">Mind Therapy</option>
                        <option value="Nature" name="blog[category]">Nature</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image URL/Link</label>
                    <input type="text" name="blog[image]" class="form-control">
                </div>
                <div class="mb-3">
                    <button class="btn btn-dark my-btn">Post</button>
                </div>
            </form>
        </div>
    </div>